<div class="mx-auto text-center p-2">
  <h2>События</h2>
</div>

<div class="d-flex align-items-center justify-content-between p-3 px-4 my-3 text-white bg-dark rounded shadow-box">

  <div class="d-flex flex-row">
    <div class="btn-group btn-group-toggle">
      <% if params[:my] == 'true' %>
        <%= link_to 'Все', events_path, class: %w(btn btn-secondary) %>
        <%= link_to 'Мои', events_path(my: 'true'), class: %w(btn btn-secondary active) %>
      <% else %>
        <%= link_to 'Все', events_path, class: %w(btn btn-secondary active) %>
        <%= link_to 'Мои', events_path(my: 'true'), class: %w(btn btn-secondary) %>
      <% end %>
    </div>
  </div>

  <div class="d-flex">
    <%= link_to 'Предыдущая', events_path, class: %w(btn btn-outline-light btn-sm) %>
    <h4 class="mb-0 px-3">
      <%= @current_date.strftime "%d.%m.%Y" %> - <%= (@current_date + 6.day).strftime "%d.%m.%Y" %>
    </h4>
    <%= link_to 'Следующая', events_path, class: %w(btn btn-outline-light btn-sm) %>
  </div>

  <div>
    <%= link_to "Добавить событие", new_event_path, class: %w(btn btn-outline-light) %>
  </div>
</div>

<div class="p-2 mb-3">
  <% @events.each do |event| %>
    <div class="p-1">
      <a class="text-dark" style="text-decoration: none" href="/events/<%= event.event.id %>">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= event.event.name %></h5>
            <div class="card-subtitle">
              <small class="text-muted">Дата: <%= I18n.localize event.date, format: :long %></small>
              <small class="text-muted">Автор: <%= event.event.user.full_name %></small>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>
